{% extends '../layouts/portal.html' %}

{% block content %}
<div class="wd1200 product">
    <div class="serch_hd">
        <div class="product-type">
            <span class="on"><em>全部</em></span>
            <span><em>基金</em></span>
            <span><em>大集合</em></span>
            <span><em>小集合</em></span>
            <span><em>专项产品</em></span>
        </div>
        <div class="details-type">
            <span class="all">全部</span>
            <span>混合型</span>
            <span>FOF</span>
            <span>债券型</span>
            <span class="active">短期理财型</span>
            <span>货币型</span>
            <span>量化产品</span>
            <span>QDII</span>
        </div>
    </div>
    <div class="serch_result">
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>代码</th>
                    <th>简称</th>
                    <th>产品类型</th>
                    <th>日期</th>
                    <th><span>单位净值(元)</span><strong class="down_b"></strong></th>
                    <th><span>累计净值(元)</span><strong class="up_b"></strong></th>
                    <th><span>年度收益率</span><strong class="down_g"></strong></th>
                    <th><span>累积收益率</span><strong class="up_g"></strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9715</td>
                    <td>0.9715</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(进取级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_g">-1.00%</td>
                    <td class="color_g">-1.00%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">君泽利1号</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">消费精选</a></td>
                    <td>货币型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(进取级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9715</td>
                    <td>0.9715</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_g">-1.00%</td>
                    <td class="color_g">-1.00%</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(进取级)</a></td>
                    <td>货币型</td>
                    <td>2014-09-24</td>
                    <td>0.9715</td>
                    <td>0.9715</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_g">-1.00%</td>
                    <td class="color_g">-1.00%</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(进取级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9715</td>
                    <td>0.9715</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_g">-1.00%</td>
                    <td class="color_g">-1.00%</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(进取级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9715</td>
                    <td>0.9715</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_g">-1.00%</td>
                    <td class="color_g">-1.00%</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>879011</td>
                    <td class="color_b"><a href="#">广发恒定2号(优先级)</a></td>
                    <td>混合型</td>
                    <td>2014-09-24</td>
                    <td>0.9900</td>
                    <td>0.9900</td>
                    <td class="color_o">-1.00%</td>
                    <td class="color_o">-1.00%</td>
                </tr>
            </tbody>
        </table>
        <div class="page-size">
            <a href="#" class="to_ind"></a>
            <a href="#" class="pre"></a>
            <a href="#">1</a>
            <a href="#" class="cur">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#" class="next"></a>
            <a href="#" class="to_last"></a>
            <span>共102页</span>
        </div>
    </div>
</div>
{% endblock %}

{% block portal-style %}
<link rel="stylesheet" href="/styles/index-style.css">
{% endblock %}


{% block portal-script %}
<script type="text/javascript" src="/vendors/bzBanner.min.js" ></script>
<script type="text/javascript">
    $(function(){ benzi.bzBanner(); });
</script>
{% endblock %}

