{% extends 'layouts/portal.html' %}

{% block portal-style %}
<link rel="stylesheet" href="styles/index-style.css">
{% endblock %}

{% block content %}
  <!--banner[-->
  <div class="banner">
    <div class='bzBanner'>
      <div class='content'>
        <div class='col'>
          <a href='javascript:;' >
            <img src='../images/banner3.jpg' width=100% />
          </a>
        </div>
        <div class='col'>
          <a href='javascript:;' >
            <img src='../images/banner2.jpg' width=100% />
          </a>
        </div>
        <div class='col'>
          <a href='javascript:;' >
            <img src='../images/banner1.jpg' width=100% />
          </a>
        </div>
      </div>
      <div class='btn'><i></i><i></i><i></i></div>
      <a class='pre' href='javascript:;' title='上一张' ></a>
      <a class='next' href='javascript:;' title='下一张' ></a>
    </div>
  </div>
  <!--banner]-->
  <!--content[-->
  <!--动态信息[-->
  <div class="wd1200">
    <div class="center_title">
      <a href="#" class="read_more">更多&gt;</a>
      <span class="Dynamic">动态信息</span>
    </div>
    <div class="ct_content">
      <div class="Dynamic-left">
        <div class="intr_info">
          <h3>广发资产管理金管家理财资讯(2014年第九期)--权...</h3>
          <div class="intr">定向资产管理业务是指经中国证监会批准的证券公司，与单一客户签订资产管理合同，按照合同约定的方式、条件、要求及限制，通过该客户的账户，对客户资产进行经营运作...</div>
          <p class="intr_time">2014-05-23</p>
        </div>
        <ul class="dyn_ul">
          <li><span>2014-05-23</span><strong></strong><a href="#">关于广发证券股份有限公司管理的集合资产管理计划变更管理...</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">广发多空杠杆再创新 投资者首迎创业板看空工具</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">广发证券股份有限公司集合资产管理计划管理人变更公告</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">对冲套现质押融资 券商资管借道两融掘金定增</a></li>
        </ul>
      </div>
      <dic class="Dynamic-right"><img src="../images/arm_pic.jpg" alt="" /></dic>
    </div>
  </div>
  <!--动态信息]-->
  <!--视频资讯[-->
  <div class="wd1200">
    <div class="center_title">
      <a href="#" class="read_more">更多&gt;</a>
      <span class="audio">视频资讯</span>
    </div>
    <div class="ct_content mt10">
      <div class="audio-left">
        <p class="audio_grid">
          <img src="../images/au_pic.jpg" alt="" />
          <a href="#" class="au_link"></a>
        </p>
        <p class="audio_name">对冲套现质押融资 券商资管借道两融掘金定增</p>
      </div>
      <div class="audio-right">
        <ul class="au_ul">
          <li><span>2014-05-23</span><strong></strong><a href="#">广发证券股份有限公司集合资产管理计划公告</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">对冲套现质押融资 券商资管借道两融掘金</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">广发多空杠杆再创新 投资者首迎创业板</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">关于广发证券股份有限公司管理的集合资产...</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">广发证券股份有限公司集合资产管理计划</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">关于广发证券股份有限公司管理的集合公告...</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">对冲套现质押融资 券商资管借道两融掘金</a></li>
          <li><span>2014-05-23</span><strong></strong><a href="#">广发多空杠杆再创新 投资者首迎创业板</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--视频资讯]-->
  <!--理财咨询[-->
  <div class="wd1200">
    <div class="center_title">
      <a href="#" class="read_more">更多&gt;</a>
      <span class="licai_info">理财资讯</span>
    </div>
    <div class="ct_content">
      <div class="licai_grid">
        <ul class="licai-ul">
          <li class="li-one">
            <h4><a href="#">发证券股份有限公司集合资产管理计划管理人变更公告</a></h4>
            <p>广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板...</p>
            <span class="time_area one-time">
              <strong>21</strong>
              <em>2015.01</em>
            </span>
            <i class="r_trg"></i>
          </li>
          <li class="li-two">
            <h4><a href="#">发证券股份有限公司集合资产管理计划管理人变更公告</a></h4>
            <p>广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板...</p>
            <span class="time_area two-time">
              <strong>22</strong>
              <em>2015.01</em>
            </span>
            <i class="l_trg"></i>
          </li>
          <li class="li-three">
            <h4><a href="#">发证券股份有限公司集合资产管理计划管理人变更公告</a></h4>
            <p>广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板...</p>
            <span class="time_area three-time">
              <strong>23</strong>
              <em>2015.01</em>
            </span>
            <i class="r_trg"></i>
          </li>
          <li class="li-four">
            <h4><a href="#">发证券股份有限公司集合资产管理计划管理人变更公告</a></h4>
            <p>广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板广发证券(11.41, 0.01, 0.09%)(000776.SZ)将于1月17日推出国内首个创业板...</p>
            <span class="time_area four-time">
              <strong>24</strong>
              <em>2015.01</em>
            </span>
            <i class="l_trg"></i>
          </li>
        </ul>
        <span class="more_li"></span>
      </div>
    </div>
  </div>
  <!--理财咨询]-->
  <!--理财产品[-->
  <div class="wd1200">
    <div class="center_title">
      <a href="#" class="read_more">更多&gt;</a>
      <span class="licai_pro">理财产品</span>
    </div>
    <div class="ct_content">
      <div class="pro-left">
        <div class="pro-grid">
          <div class="pro-one">
            <p class="pro-name">e定发•睿利1号X（11天）</p>
            <div class="pro-info">
              <p class="info-tit">年化收益率</p>
              <p class="info-percent">4.75%</p>
            </div>
            <p class="inc-mun">单位净值：<em>0.86</em></p>
          </div>
          <div class="pro-two">
            <p class="pro-name">黄金期货4倍杠杆双鲨一月期</p>
            <div class="pro-info">
              <p class="info-tit">年化收益率</p>
              <p class="info-percent">2.35%</p>
            </div>
            <p class="inc-mun">单位净值：<em>0.86</em></p>
          </div>
          <div class="pro-three">
            <p class="pro-name">全球稳定收益债券</p>
            <div class="pro-info">
              <p class="info-tit">年化收益率</p>
              <p class="info-percent">1.75%</p>
            </div>
            <p class="inc-mun">单位净值：<em>0.86</em></p>
          </div>
        </div>
      </div>
      <div class="pro-right">
        <div class="sherch_title"><strong></strong><span>理财产品开放日查询</span></div>
        <div class="sherch_date">
          <div class="sherch_area">
            <div class="year"></div>
            <div class="month"></div>
            <div class="sherch_pro">
              <input type="text" placeholder="请输入产品名称"/>
              <a href="#" class="go"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--理财产品]-->
  <!--content]-->
{% endblock %}

{% block portal-script %}
<script type="text/javascript" src="vendors/jquery-1.10.2.min.js" ></script>
<script type="text/javascript" src="vendors/bzBanner.min.js" ></script>
<script type="text/javascript">
  $(function(){ benzi.bzBanner(); });
</script>
{% endblock %}