<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ Title }} - 广发资产</title>
    {% block portal-style %}{% endblock %}
</head>
<body>
    {% include "../partials/header.html" %}

    {% include "../partials/bread.html" %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="clear"></div>
    {% include "../partials/footer.html" %}

    <script type="text/javascript" src="vendors/jquery-1.10.2.min.js" ></script>
    {% block portal-script %}{% endblock %}
</body>
</html>