<div class="header">
    <div class="first">
        <div class="container">
          <img src="../images/yitaojin.png" height="14" width="50" alt="">
          <img src="" alt="">
        </div>
    </div>
    <div class="second">
        <div class="container">
          <img src="../images/head1.png" height="16" width="73" alt="">
        <div class="search">
          <input type="text" placeholder="请输入理财产品名称">
          <a href="" class="submit"></a>
        </div>

        </div>
    </div>
    <div class="third">
        <div class="container">
         <a href="">首页</a>
         <a href="" class="active">关于资管</a>
         <a href="">旗下产品</a>
         <a href="">定向理财</a>
         <a href="">资管咨询</a>
         <a href="">客户服务</a>

        </div>
    </div>
</div>